{% extends "main_page/index.html" %} {% block body %} {% load static %}

<center><h1>Error 404</h1></center>
<center><h2>Que extraño, no hay nada aquí...</h2></center>
<h3 style="margin-right: 20%; text-align: right; margin-left: 40%;">
    La pagina buscada no se ha encontrado. Puede que haya sido removida o movida. Revisa el URL o vuelve a la pagina principal 
</h3>
    <a href="{% url 'index' %}"><center><button style="background-color: blue; padding: 15pxpx 32px; cursor: pointer; width: 20%; height: 10%; color: aliceblue;">
        Pagina principal
    </button></center></a>

    {% endblock body %}
