{% extends "main_page/index.html" %} 
{% block body %}
{% load static %}
    <div class="flex flex-columns gap-10 items-center">
      <img src="{{ publicacion.portada.archivo.url }}" alt="" class="big-button">
      <h1>{{ publicacion.titulo }}</h1>
      <a href="{% url 'obtener_publicacion_filtro' cant=1 type='autors' filter=publicacion.autor.pk order='recent' %}">Por {{ publicacion.autor.nombre }}</a>
      <h2>{{ publicacion.descripcion }}</h2>
      <h4>{{ publicacion.fecha }}</h4>
      <div class="flex flex-center">                                                {% for categoria in publicacion.categoria.all %}
<h6>{{ categoria.nombre }}</h6>
{% endfor %}
      </div>
    </div>
    <div id="files">
      {% for archivo in publicacion.archivos.all %}
  <div>
    <embed src="{{ archivo.archivo.url }}" class="w-full">
      <a href=" {{ archivo.archivo.url }}" download> No te aparece el archivo? Descargar </a>
    </div>
    {% endfor %}
    </div>
{% if usuario == publicacion.autor %}
  <button id="eliminar">Eliminar</button>
{% endif %}

<script defer>
  let mod = document.getElementById('modificar');
  let elim = document.getElementById('eliminar');
  csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
let form = new FormData()
form.append('id', {{ publicacion.pk }});
  elim.onclick = function(){
    fetch('/publication_delete', {
    method: 'POST',
    cache: 'no-cache',
    credentials: 'same-origin',
    headers: {'X-CSRFToken': csrf_token},
    body: form,
    }).then((a) => location.href = location.origin); 
  }
</script>

{% endblock body %}
